*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 80px;
    overflow: hidden;
}
nav ul{
    margin-top: 20px;
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    /* margin-right: 150px; */
}
nav ul li{
    float: right;
    margin-right: 3px;
    
}
nav ul li a{
    text-decoration: none;
    padding: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3C3C3C;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
img {
    width: 100%;
}
h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #F46060;
    text-transform: uppercase;
}
h2{
    margin-top: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #363958; 
    text-transform: uppercase;
}
h3{
    margin-top: 120px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #363958;
}
p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #3E3E3E;
}
.btn{
    text-decoration: none;
    padding: 12px 22px;
    background-image: linear-gradient(180deg, #FF8063
    , #F46060
    );
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    font-weight: 700;
}
.project-area h3{
    text-align: center;
    padding: 80px;
}
.orange-color{
    color: #F46060;
}
.gallery-width{
    float: left;
    padding: 5px;
    width: 30%;
    margin-right: 2%;
    background: #FFFFFF;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07);
    border-radius: 19.7436px;
}
.gallery-width h4{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    color: #363958;
    padding: 8px;
}
.gallery-width p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #6C6C6C;
}